body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

div {
    text-align: center;
}

h1 {
    background-color: #579e9e;
    color: white;
    border-left: 4px solid #484848;
    width: 40%;
}

p {
    margin-top: 4rem;
    color: gray;
}

div.form {
    margin-top: 5rem;
}

label {
    color: #abb8e1;
}

input[type='submit'] {
    border: none;
    background-color: #a9d2a9;
    color: white;
    padding: 0.5rem;
}

input[type='text'] {
    padding: 0.5rem;
}

button {
    border: none;
    background-color: #cdaac8;
    color: white;
    padding: 0.5rem;
}